$body-color: red;

body {
  font-family: sans-serif;
}
header, footer {
  text-align: center;
  background-color: burlywood;
  padding: 10px;
  margin: 0px; 
}
span {
  color: white;
 font-size: 30px;
}
nav {
  padding: 10px;
}
h1{
  color: maroon;
}
h2 {
  color: olive;
}
#sectionWidthHeight {
width: 200px;
height: 300px;
border: 2px solid maroon;
padding: 20px 10px;
margin: 5px;
}
#articleHeader {
  color: green;
}
img {
  border-radius: 50%;
}
table {
  float: left;
  border-collapse: collapse;
  border: 1px solid black; 
  margin: 10px;
}
td, th {
  border: 1px solid  black;
}
colgroup {
  background-color: bisque;
}
main {
  float: left;
  width: 70%;
}
.lineVertical {
  border-right: 2px dashed black;
  height: 900px;
  position: absolute;
  right: 28%;
  margin-right: -3px;
  top: 5;
}
aside {
  float: right;
  width: 25%;
}
footer {
clear: both;
}