<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Making Layout</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <header>
    <div class="jumbotron">
        <img src="./assets/Bhagaskara.png" alt="logo">
        <h4>Fusce rutrum pretium lorem semper nulla.</h4>
        <p> Vestibulum ornare cursus nisl, 
            fermentum tincidunt libero pretium et. Maecenas interdum ligula non 
             fermentum fringilla. </p>
    </div>
    <div class="header_nav">
        <div class="link-card flex">
        <a href="#"><img src="assets/1.png"></a>
        <a href="#"><img src="assets/2.png"></a>
        </div>
        <div class="link-card">
         <a href="#"><img src="assets/3.png"></a>
        <a href="#"><img src="assets/4.png" alt=""></a>
        </div>
        <div class="link-card flex">
         <a href="#"><img src="assets/5.png"></a>
        <a href="#"><img src="assets/6.png"></a>
        </div>
    </div>
    <div id="header_scroller">
        <span><a href="#"><img src="assets/scroller.png"></a></span>
    </div>
    </header>
<div class="nav">
    <div class="logo"><img src="./assets/logo-black.png" alt="logo"></div>
    <div class="nav-links">
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Team</a>
    <a href="#">Services</a>
    <a href="#">Portfolio</a>
    <a href="#">Blog</a>
    <a href="#">Contact</a>
</div>
</div>
<div class="features">
    <div class="feature_card">
        <img src="./assets/heart-feature.png" alt="heart">
        <h4>Build with love </h4> 
        <p>
            Fusce facilisis velit libero,
            nec  dignissim lacus sagittis non.
            Sed nec porta ante. Pellentesque 
            habitant morbi tristique senectus et.
         </p>
    </div>
    <div class="feature_card">
        <img src="./assets/diamond-features.png" alt="diamond">
        <h4>Clean and modern</h4> 
        <p>
            Fusce facilisis velit libero,
            nec  dignissim lacus sagittis non.
            Sed nec porta ante. Pellentesque 
            habitant morbi tristique senectus et.
         </p>
    </div>
    <div class="feature_card">
    
        <img src="./assets/cup-feature.png" alt="cup">
        <h4>Easy to use</h4>
        <p> 
            Fusce facilisis velit libero,
            nec  dignissim lacus sagittis non.
            Sed nec porta ante. Pellentesque 
            habitant morbi tristique senectus et.
         </p>
    </div>
    <div class="feature_card">
    
        <img src="./assets/phone-feature.png" alt="phone">
        <h4>Fully responsive</h4>
        <p> 
            Fusce facilisis velit libero,
            nec  dignissim lacus sagittis non.
            Sed nec porta ante. Pellentesque 
            habitant morbi tristique senectus et.
         </p>
    </div>
</div>
<div class="about">
    <div class=" about_heading block_heading">
        <img src="./assets/about_heading.png" alt="about">
    </div>
    <div class="about_flex"> <div class="about_img">
        <img  class="mocup" src="./assets/mockup.png" alt="mocup">
    </div>
    <div class="about_text"><p>Aliquam metus neque, bibendum sit amet porta at, 
            consequat et  enim. In ut turpis non ipsum rhoncus 
            porttitor vel ac nunc.  Maecenas interdum dignissim 
            lorem quis auctor. Donec sit amet  nulla nisl, aliquam
             pretium ipsum. Pellentesque sodales ipsum et  
             enim rutrum adipiscing. Quisque tincidunt mattis sapien, 
              vel posuere. </p>
             <div class="about_btn">Learn more</div> 
            </div>
  </div>
</div>
<div class="quote">
    <div class="quote_content">
    <img src="./assets/study.png" alt="study"> 
    <h2>We lorem and ipsum your aliquam </h2> 
    </div>
</div>
<div class="team">
    <div class="block_heading team_heading">
        <img src="./assets/New Group 2.png" alt="heading">
    </div>
    <div class="team_nav">
        <a href="#"><img src="./assets/New Group.png" alt=""></a>
        <a href="#"><img src="./assets/New Group 1.png" alt=""></a>
    </div>
    <div class="team_cards">
        <div class="team_card">
            <img src="./assets/Mugshot.png" alt="">
            <div class="text"> <span>Anne Hathaway</span>  <br />
            <small>CEO/ Marketing Guru</small></div>
            <div class="icons">
                <img src="./assets/facebook-icon.png" alt="">
                <img src="./assets/Social icon 3.png" alt="">
            </div>
        </div>
        <div class="team_card">
            <img src="./assets/Mugshot.png" alt="">
            <div class="text"> <span>Anne Hathaway</span> <br />
                <small>CEO/ Marketing Guru</small></div>
            <div class="icons">
                <img src="./assets/facebook-icon.png" alt="">
                <img src="./assets/Social icon 3.png" alt="">
            </div>
        </div>
        <div class="team_card">
            <img src="./assets/Mugshot.png" alt="">
            <div class="text"> <span>Anne Hathaway</span>  <br />
                <small>CEO/ Marketing Guru</small></div>
            <div class="icons">
                <img src="./assets/facebook-icon.png" alt="">
                <img src="./assets/Social icon 3.png" alt="">
            </div>
        </div>

    </div>
</div>
<div class="experience">
    <div class="exp_heading block_heading">
        <img src="./assets/heading.png" alt="">
    </div>
    <div class="exp_bars">
        <div class="bar" style="position: relative;" >
            <h1> WEB DESIGN <span><span class="counter" data-target="90">0</span>%</span></h1>
            <div  class="grey_bar"></div>
            <div id="1" class="purple_bar"></div>
          </div>
          <div class="bar ">
            <h1>GRAPHIC DESIGN <span><span class="counter" data-target="70">0</span>%</span> </h1>
            <div  class="grey_bar"></div>
            <div id="2" class="purple_bar" ></div>
          </div>
          <div class="bar">
            <h1> HTML/CSS <span><span class="counter" data-target="75">0</span>%</span></h1>
            <div class="grey_bar"></div>
            <div id="3" class="purple_bar" ></div>
          </div>
          <div class="bar">
            <h1>UX/UI <span><span class="counter" data-target="85">0</span>%</span> </h1>
            <div  class="grey_bar"></div>
            <div id="4" class="purple_bar"></div>
          </div>
        </div>
    </div>
</div>
<div class="services">
    <div class="services_content">
        <img src="./assets/icon.png" alt="shape"> 
        <h2>Our service lorem and ipsum and aliquam </h2>  
    </div>
</div>
<div class="testimonials">
    <div class="testimonials_heading">
        <div class="t_card"> <span  class="card" data-target="365">0 </span> <br /> <small>Lorem ipsum</small></div>
        <div class="t_card"> <span  class="card" data-target="98">0</span><span>%</span><br /><small>Lorem ipsum</small></div>
        <div class="t_card"> <span  class="card" data-target="69">0 </span>  <br /><small>Lorem ipsum</small></div>
        <div class="t_card"> <span  class="card" data-target="1642">0</span><br /><small>Lorem ipsum</small></div>
    </div>
    <div class="testimonials_quote">
       <figure><img src="./assets/Mugshot.png" alt="photo"></figure>
        <figcaption> <q>Fusce dapibus, tellus ac cursus commodo, tortor mauris  condimentum. Duis mollis, est non commodo luctus, nisi erat</q> <br />
        <span>Lesale Christopher, Pinterest</span></figcaption>
    </div>
    <div class="testimonials_nav">
        <img src="./assets/Ellipse.png" alt="">
        <img src="./assets/Ellipse.png" alt="">
        <img src="./assets/Ellipse.png" alt="">
        <img src="./assets/Ellipse.png" alt="">
        <img src="./assets/Ellipse.png" alt="">
        <img src="./assets/Ellipse.png" alt="">
    </div>
</div>
<div class="portfolio">
<div class="block_heading portfolio_heading">
    <img src="./assets/heading-portfolio.png" alt="">
</div>
<div class="portfolio_nav">
    <div class="btn">All</div>
    <div class="btn">Web</div>
    <div class="btn">Apps</div>
    <div class="btn">Icons</div>
</div>
<div class="gallery">
    <figure>
        <img src="./assets/tumblr_n1ipqbCLKd1st5lhmo1_1280.png" alt="">
        <figcaption>Neque Porro Quisquam <br>
        <small>apps, icons, ui</small>
    </figcaption>
    </figure>
    <figure>
        <img src="./assets/tumblr_n2k0y8bxXE1st5lhmo1_1280.png" alt="">
        <figcaption>Neque Porro Quisquam <br>
        <small>apps, icons, ui</small>
    </figcaption>
    </figure>
    <figure>
        <img src="./assets/tumblr_n2k10foRBd1st5lhmo1_1280.png" alt="">
        <figcaption>Neque Porro Quisquam <br>
        <small>apps, icons, ui</small>
    </figcaption>
    </figure>
    <figure>
        <img src="./assets/tumblr_n2k114hDQX1st5lhmo1_1280.png" alt="">
        <figcaption>Neque Porro Quisquam <br>
        <small>apps, icons, ui</small>
    </figcaption>
    </figure>
    <figure>
        <img src="./assets/tumblr_n2k1499dIp1st5lhmo1_1280.png" alt="">
        <figcaption>Neque Porro Quisquam <br>
        <small>apps, icons, ui</small>
    </figcaption>
    </figure>
    <figure>
        <img src="./assets/tumblr_n2k15mq4xy1st5lhmo1_1280.png" alt="">
        <figcaption>Neque Porro Quisquam <br>
        <small>apps, icons, ui</small>
    </figcaption>
    </figure>
    
</div>
<div class="gallery_btn">Watch more</div>
</div>
</div>
<footer>
    <div class="footer_heading block_heading">
        <img src="./assets/heading-footer.png" alt="">
    </div>
    <div class="contacts">
        <div class="form">
        <form action="POST">
            <input type="text" name="name" id="name" placeholder="Your Name"> <br>
            <input type="email" name="email" id="email" placeholder="Your Email"> <br>
            <textarea name="message" id="message" cols="30" rows="10"></textarea> <br>
            <div class="form-btn">Send email</div>
        </form>
    </div>
    <div class="info">
        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br>
            Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat <br>
            ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, <br>
            posuere a, pede. </p>
        <address>1600 Pennsylvania Ave NW, Washington,  <br>
            DC 20500, United States of America.  
            </address>
        <span>T: (202) 456-1111</span> <br />
        <span> M: (202) 456-1212 </span>
        <div class="footer_icons">
            <img src="./assets/facebook-icon.png" alt="">
            <img src="./assets/Social icon 2.png" alt="">
            <img src="./assets/Social icon 3.png" alt="">
        </div>
    </div>
</div>
<div class="footer_logo">
    <img src="./assets/logo-black.png" alt="">
</div> 
</footer>
</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="./index.js"></script>
</html>

